<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EventMapper">

    <select id="listEvent" parameterType="Page" resultType="pd" useCache="false">
        select  *   from event_info
        where 1 = 1
        /* and u.USERNAME != 'admin'
        and (r.ROLE_ID != '7' and r.PARENT_ID != '7')*/
        <if test="pd.enquiry != null and pd.enquiry != ''"><!-- 关键词检索 -->
            and
            (
            event_name LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            workshop  LIKE CONCAT(CONCAT('%',#{pd.enquiry}),'%')
            or
            check_scope LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            check_ponit   LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            instrument_place  LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            )
        </if>
        order by event_id asc
    </select>

</mapper>