<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mission_feedbackMapper">

    <!--<select id="xunxinglistPage" parameterType="Page" resultType="pd" useCache="false">-->
        <!--select  *   from yunxingInfo-->
        <!--order by id desc-->
    <!--</select>-->

    <!--&lt;!&ndash;导出Excel&ndash;&gt;-->
    <!--<select id="listAll" parameterType="pd" resultType="pd" useCache="false">-->
        <!--select  *   from yunxingInfo-->
        <!--where 1 = 1-->
        <!--order by id-->
    <!--</select>-->

    <!--事件运行情况-->
    <select id="eventyunxinglistPage" parameterType="Page" resultType="pd" useCache="false">
        select  *   from mission_feedback
        where  event_id = #{pd.eventId}
    </select>
</mapper>