<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="QueryTaskMapper">



    <!--通过id获取数据-->
    <select id="findById" parameterType="pd" resultType="pd">
        SELECT *  FROM mission
        WHERE
        id = #{mission_id}
    </select>

    <!--通过enquiry获取数据-->
    <select id="datalistPage" parameterType="Page" resultType="pd" useCache="false">
        select  *   from mission
        where 1 = 1
        /*and u.USERNAME != 'admin'
        and (r.ROLE_ID != '7' and r.PARENT_ID != '7')*/
        <if test="pd.enquiry != null and pd.enquiry != ''"><!-- 关键词检索 -->
            and
            (
            mission_name LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            worker_name  LIKE CONCAT(CONCAT('%',#{pd.enquiry}),'%')
            )
        </if>
        <if test="pd.sendTimeStart!=null and pd.sendTimeStart!=''"><!-- 到期时间检索 -->
            and send_time &gt;= #{pd.sendTimeStart}
        </if>
        <if test="pd.sendTimeEnd!=null and pd.sendTimeEnd!=''"><!-- 到期时间检索 -->
            and send_time &lt;= #{pd.sendTimeEnd}
        </if>
        <if test="pd.mission_condition != null and pd.mission_condition != ''"><!-- 状态检索 -->
            and mission_condition = #{pd.mission_condition}
        </if>
        <if test="pd.factory_id != null and pd.factory_id != ''">
            and factory_id = #{pd.factory_id}
        </if>
        order by id desc
    </select>
    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd" >
        select  *   from mission
        where 1 = 1
        /* and u.USERNAME != 'admin'
        and (r.ROLE_ID != '7' and r.PARENT_ID != '7')*/
        <if test="pd.enquiry != null and pd.enquiry != ''"><!-- 关键词检索 -->
            and
            (
            mission_name LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            worker_name  LIKE CONCAT(CONCAT('%',#{pd.enquiry}),'%')
            )
        </if>
        <if test="pd.sendTimeStart!=null and pd.sendTimeStart!=''"><!-- 到期时间检索 -->
            and send_time &gt;= #{pd.sendTimeStart}
        </if>
        <if test="pd.sendTimeEnd!=null and pd.sendTimeEnd!=''"><!-- 到期时间检索 -->
            and send_time &lt;= #{pd.sendTimeEnd}
        </if>
        <if test="pd.mission_condition != null and pd.mission_condition != ''"><!-- 状态检索 -->
            and mission_condition = #{pd.mission_condition}
        </if>
        order by id desc
    </select>




</mapper>