<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecordMapper">
    <!--全厂每月周期任务单数-->
    <select id="listAll" parameterType="pd"  resultType="pd">
        select DATE_FORMAT(t.send_time,'%Y-%m') month,count(t.id) sum from mission t
        where  1=1    and t.mission_type = '日常巡检任务'
        AND  DATE_FORMAT(t.send_time,'%Y-%m')>
        DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
        group by month
    </select>
    <!--全厂每月临时任务单数-->
    <select id="listTempTask" parameterType="pd"  resultType="pd">
         select DATE_FORMAT(t.send_time,'%Y-%m') month,count(t.id) sum from mission t
        where  1=1    and t.mission_type = '临时巡检任务'
        AND  DATE_FORMAT(t.send_time,'%Y-%m')>
        DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
        group by month
    </select>
    <!--全厂每月维修任务-->
    <select id="listRepairTask" parameterType="pd"  resultType="pd">
        select DATE_FORMAT(t.send_time,'%Y-%m') month,count(t.id) sum from mission t
        where  1=1    and t.mission_type = '维修任务'
        AND  DATE_FORMAT(t.send_time,'%Y-%m')>
        DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
        group by month
    </select>
    <!--本厂问题异常统计-->
    <select id="listProblemException" parameterType="pd"  resultType="pd">
        select DATE_FORMAT(t.report_time,'%Y-%m') month,count(t.id) sum from exception t
        where  1=1    and t.level = 1
        AND  DATE_FORMAT(t.report_time,'%Y-%m')>
        DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
        group by month
    </select>
    <!--本厂隐患异常统计-->
    <select id="listDangerException" parameterType="pd"  resultType="pd">
        select DATE_FORMAT(t.report_time,'%Y-%m') month,count(t.id) sum from exception t
        where  1=1    and t.level = 2
        AND  DATE_FORMAT(t.report_time,'%Y-%m')>
        DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
        group by month
    </select>
    <!--本厂报警异常统计-->
    <select id="listAlarmException" parameterType="pd"  resultType="pd">
        select DATE_FORMAT(t.report_time,'%Y-%m') month,count(t.id) sum from exception t
        where  1=1    and t.level = 3
        AND  DATE_FORMAT(t.report_time,'%Y-%m')>
        DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
        group by month
    </select>

</mapper>