<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="SendTaskMapper">



    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into mission(
        mission_name,set_id,mission_type,mission_level,mission_source,period_start_time,period_end_time,time_dev,mission_condition,team,worker_name,worker_phone,set_name,mission_addition,send_time,cron,event)
        values (  #{mission},#{set_id},#{mission_type},#{mission_level},#{mission_source},#{period_start_time},#{period_end_time}, #{time_dev},#{mission_condition}, #{team}, #{worker_name}, #{worker_phone},#{set_name}, #{mission_addtion},
         #{send_time},#{cron}, #{event}
        )
    </insert>


    <!-- 修改图片 -->
    <update id="editpic" parameterType="pd">
        update  mission_pic
        set
        
        pic    = #{lock_pic}
        where
        mission_id = #{mission_id}
    </update>










</mapper>