<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TaskMagMapper">



    <!--通过id获取数据-->
    <select id="findById" parameterType="pd" resultType="pd">
        select *  from mission
        where
        id = #{mission_id}
    </select>

    <select id="findPicById" parameterType="pd" resultType="pd">
        select *  from mission_feedback
        where
        mission_id = #{mission_id} and event_id =#{event_id} and work_name=#{work_name}
    </select>
    <!--任务详情-->
    <select id="detail" parameterType="pd" resultType="pd">
        select *  from mission
        where
        id = #{mission_id}
    </select>
    <!--保存-->
    <update id="save" parameterType="pd">
        update  mission
        set
        auditor = #{USERNAME},
        mission_condition = #{mission_condition},
        auditor_time = #{auditor_time}
        where
        id = #{mission_id}
    </update>

    <update id="refuseAudit" parameterType="pd">
        update  mission
        set
        auditor = #{USERNAME},
        mission_condition = #{mission_condition},
        auditor_time = #{auditor_time}
        where
        id = #{mission_id}
    </update>
    <!--通过enquiry获取数据-->
    <select id="datalistPage" parameterType="Page" resultType="pd" useCache="false">
        select  *   from mission
        where 1 = 1

        <if test="pd.enquiry != null and pd.enquiry != ''"><!-- 关键词检索 -->
            and
            (
            mission_name LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            worker_name  LIKE CONCAT(CONCAT('%',#{pd.enquiry}),'%')
            )
        </if>
        <if test="pd.sendTimeStart!=null and pd.sendTimeStart!=''"><!-- 下达时间检索 -->
            and send_time &gt;= #{pd.sendTimeStart}
        </if>
        <if test="pd.sendTimeEnd!=null and pd.sendTimeEnd!=''"><!-- 下达时间检索 -->
            and send_time &lt;= #{pd.sendTimeEnd}
        </if>
        <if test="pd.mission_condition != null and pd.mission_condition != ''"><!-- 状态检索 -->
            and mission_condition = #{pd.mission_condition}
        </if>
        <if test="pd.factory_id != null and pd.factory_id != ''">
            and factory_id = #{pd.factory_id}
        </if>
        and mission_condition in(2,5)
        order by id desc
    </select>
    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd" useCache="false">
        select  *   from mission
        where 1 = 1

        <if test="enquiry != null and enquiry != ''"><!-- 关键词检索 -->
            and
            (
            mission_name LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            worker_name  LIKE CONCAT(CONCAT('%',#{pd.enquiry}),'%')
            )
        </if>

        <if test="sendTimeStart!=null and sendTimeStart!=''"><!-- 下达时间检索 -->
            and send_time &gt;= #{pd.sendTimeStart}
        </if>
        <if test="sendTimeEnd!=null and sendTimeEnd!=''"><!-- 下达时间检索 -->
            and send_time &lt;= #{pd.sendTimeEnd}
        </if>
        <if test="mission_condition != null and mission_condition != ''"><!-- 状态检索 -->
            and mission_condition = #{pd.mission_condition}
        </if>
        and mission_condition in(2,5)
        order by id desc
    </select>

    <select id="getWorkContent" parameterType="pd" resultType="pd" useCache="false">
        select * from mission_feedback where mission_id = #{mission_id} and event_id = #{event_id}
    </select>

    <update id="auditTask" parameterType="pd" >
        update mission set mission_condition = #{mission_condition},
        auditor_opinion=#{opinion}, auditor = #{USERNAME}, auditor_time = #{auditor_time}
         where id = #{missionId}
    </update>

</mapper>