<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="WorkerMapper">

    <resultMap type="com.wp.entity.worker.Worker" id="teamResultMap">
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="team" property="team"/>
    </resultMap>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into worker_info(  name,phone,post,team,head_pic,work_type,workshop,add_time,password,factory_id)
        values (  #{name}, #{phone},#{post},#{team}, #{head_pic}, #{work_type}, #{workshop},#{add_time},#{password},#{factory_id} )
    </insert>
    <!--向车间管理表中加负责人-->
    <update id="updataWorkshop" parameterType="pd">
        update  workshop_principal_info
        set
        name = #{name},
        phone = #{phone},
        post   = #{post}
        where
        workshop   = #{workshop}
    </update>
    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from worker_info
        where
        id = #{id}
    </delete>
    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update  worker_info
        set
        name = #{name},
        phone = #{phone},
        team   = #{team},
        post   = #{post},
        work_type   = #{work_type},
        workshop   = #{workshop},
        head_pic    = #{head_pic}
        where
        id = #{id}
    </update>

    <!-- 修改图片 -->
    <update id="editpic" parameterType="pd">
        update  worker_innfo
        set
        head_pic  = #{head_pic}
        where
        id = #{id}
    </update>
    <!--通过员工名获取数据-->
    <select id="findById" parameterType="pd" resultType="pd">
        select *  from worker_info
        where
        id = #{id}
    </select>

    <!--通过enquiry获取数据-->
    <select id="datalistPage" parameterType="Page" resultType="pd" useCache="false">
        select  *   from worker_info
        where 1 = 1
       /* and u.USERNAME != 'admin'
        and (r.ROLE_ID != '7' and r.PARENT_ID != '7')*/
        <if test="pd.enquiry != null and pd.enquiry != ''"><!-- 关键词检索 -->
            and
            (
            name LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            phone  LIKE CONCAT(CONCAT('%',#{pd.enquiry}),'%')
            or
            workshop LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            team   LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            or
            post   LIKE CONCAT(CONCAT('%', #{pd.enquiry}),'%')
            )
        </if>
        <if test="pd.factory_id != null and pd.factory_id != ''">
            and factory_id = #{pd.factory_id}
        </if>
        order by id asc
    </select>
    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd" >
        select
        w.name,
        w.phone,
        w.work_type,
        w.post,
        w.team,
        w.workshop
        from worker_info w

    </select>

    <!--班组列表-->
    <select id="listTeam" resultMap="teamResultMap">
        select distinct team from worker_info w where w.team  is not null
    </select>

    <!-- 班组员工列表-->
    <select id="listWorker" parameterType="pd" resultType="pd" >
        select distinct name from worker_info WHERE  team = #{team} and post != '离职'
        <if test="factory_id != null and factory_id != ''">
            and factory_id = #{factory_id}
        </if>
    </select>

    <!-- 员工手机列表-->
    <select id="listPhone" parameterType="pd" resultType="pd" >
        select phone from worker_info WHERE name = #{name}
    </select>
    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String" flushCache="false">
        delete from worker_info
        where
        id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>



</mapper>