
# maven ignore
target/
.idea/
.settings/
classes/
*.ftl
*.txt
*.MF
plugins/
static/
uploadFiles/
lib/
*.ico
*.class
.XJ.iml
.xunjian.iml
*.jar
*.war
*.zip
*.tar
*.tar.gz
workspace.xml


# eclipse ignore
.project
.classpath

# idea ignore
*.ipr
*.iml
*/*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
